
<div class="container text-center">
    <h1>About page</h1>
    <p>We are DebMatch. Our company focuses on creating an exlusive community for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, nesciunt sed nisi at ducimus obcaecati fugit ut modi illum distinctio consequatur minima iusto atque officiis iure temporibus quas libero reprehenderit.</lor></p>
</div>
